* {
  box-sizing: border-box;
}
body {
  background-image: url('https://files.fm/thumb_show.php?i=48s8bfy6z');
    background-position: center center;
      background-size: cover;
      /*background-repeat: no-repeat;*/
    font-family: 'Russo One', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(21, 27, 54);
}
  
li {
  float: left; 
  font-size: 30px; 
}

li a {
  display: block;
  color: rgb(255, 253, 253);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 40px;
}
li a:hover {
  background-color: #111;
}
#pstyle{
  text-align: center;
  font-size: 20px;
  padding: 100px 20px;
  color: #15141a;
  opacity: 1;
}
.content {
  padding: 0 20px;
  display: flex;
}
.side {
  opacity: 0.7;
  background-color: #e4fdff;
  width: 300px;
  border-radius: 10px;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
}
.gallery:hover {
  border: 1px solid #777;
}
.gallery_item {
  width: 300px;
  margin: 0px;
}
.desc {
  padding: 15px;
  text-align: center;
}